<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<title>AI 광선로 계측 및 관리 시스템</title>
	<link rel="stylesheet" href="../static/css/common2018.css">
	<link rel="stylesheet" href="../static/css/userDefine.css">
	<script type="text/javascript" src="../static/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="../static/js/common.js"></script>
	<script>
		/* 2018-11 메뉴고정 */
		$(document).ready(function(){
		    var $window = $(window);
			var nav = $('#main-navigation');
			$window.scroll(function(){
				if ($window.scrollTop() >= 45) {
				   nav.addClass('fixed-header');
				}
				else {
				   nav.removeClass('fixed-header');
				}
			});
		});
	</script>
</head>

<body>

<div id="wrap">
	<div class="skip_navigation" >
		<a href="#container">본문 바로가기</a>
		<a href="#gnb">메뉴 바로가기</a>
	</div>

	<div id="header">		
		<div class="logo">
			<a href="#">AI 광선로 계측 및 관리 시스템</a>
		</div>
		<div class="mShowHide">
			<a onClick="lnbClose()" id="btnOpen"><img src="../static/img/hideNew.png" alt="메뉴닫기" /></a>
			<a onClick="lnbOpen()" id="btnClose"><img src="../static/img/showNew.png" alt="메뉴열기" /></a>
		</div>
		<div class="login">
			<ul>
				<li><strong>관리자</strong>님 방문해주셔서 감사합니다.</li>
				<li class="logout"><a href="#"><img src="../static/img/logout.png" alt="로그아웃" /></a></li>
				<li class="logout"><a href={{ _('langurl') }}><img src={{ _('lang') }} width="15px" height="15px"/></a></li>
			</ul>
		</div>		
	</div>


	<div id="container">
		
		<!-- [s] left menu -->
		<div class="lnb" id="leftLnb">		
			<nav id="main-navigation">
				<div class="subLnb">
					<ul>
				    <li><a href="/dashboard/weathermap">{{ _('left1') }}</a></li>
						<li><a href="/model/doeda" class="on">{{ _('left2') }}</a>
							<ul>
								<li><a href="/model/acquisition"><span>{{ _('left2_1') }}</span></a></li>
								<li><a href="/model/doeda"><span>{{ _('left2_2') }}</span></a></li>
								<li><a href="/model/definemodel"><span>{{ _('left2_3') }}</span></a></li>
								<li><a href="/model/learning"><span>{{ _('left2_4') }}</span></a></li>
								<li><a href="/model/prediction"><span>{{ _('left2_5') }}</span></a></li>
							</ul>
						</li>
						<li><a href="/user/measureresult">{{ _('left3') }}</a></li>
						<li><a href="/system/compmng">{{ _('left4') }}</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- [e] left menu -->
		
		<!-- [s] sub content -->
		<div id="content">			
			<div class="subContent">
				<div class="mainTitle">
					<h2>{{_('model_eda_title')}}</h2>
					<ul id="breadcrumb">
						<li><a href="#;">HOME</a></li>
						<li><a href="#;">1depth 메뉴</a></li>
						<li><a href="#;"><strong>2depth 메뉴</strong></a></li>
					</ul>
				</div>

            
				<div class="section">
					<h3>{{_('model_eda_searchcondition')}}</h3>					
					<div class="groupSearch">
	
						<table class="tbl_Sch" summary="조회조건">
							<caption>조회조건</caption>
							<colgroup>
								<col style="width:10%" />
								<col style="width:23%" />
								<col style="width:10%" />
								<col style="width:24%" />
								<col style="width:10%" />
								<col style="width:23%" />
							</colgroup>
							<tr>
								<th>{{_('model_eda_registeddate')}}</th>
								<td>
									<input name="input" type="text" class="date" value=""/>
									<a href="#"><img src="../static/img/ico_calendar.gif" alt="달력제어" /></a>
									~
									<input name="input" type="text" class="date" value=""/>
									<a href="#"><img src="../static/img/ico_calendar.gif" alt="달력제어" /></a>
									</select>
								</td>
								<th>{{_('model_eda_division')}}</th>
								<td colspan="3">
									<select>
										<option>전체</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>{{(_('model_eda_chosenitem'))}}</th>
								<td>
									<select>
										<option>전체</option>
									</select>
								</td>
								<th>{{_('model_eda_article1')}}</th>
								<td>									
									<input name="input" type="text" class="size-100p" value=""/>
								</td>
								<th>{{_('model_eda_article2')}}</th>
								<td>
									<input name="input" type="text" class="size-100p" value=""/>
								</td>
							</tr>
							<tr>								
								<th>{{_('model_eda_context')}}</th>
								<td colspan="5">
									<input name="input" type="text" class="size-100p" value=""/>
								</td>
							</tr>							
						</table>				
					</div>
					
					<div class="schBtn">
						<span class="btn_sch"><a href="#">{{_('model_eda_search')}}</a></span>
					</div>
				</div>
			

				<div class="section">
					<div class="etcTitle">
						{{_('model_eda_searchresult')}} (<span>5</span>/<span>175</span>)
					</div>
					
					<div class="title_btn_right">
						<span class="btn_regist"><a href="#">{{_('model_eda_api')}}</a></span>
						<span class="btn_excel"><a href="#">{{_('model_eda_csv')}}</a></span>
					</div>
					
					<div class="groupContent">
						<div class="table_list">
							<table class="tbl_list" summary="기본정보영역">
								<caption>기본정보영역</caption>
								<colgroup>
									<col style="width:5%" />
									<col style="width:5%" />
									<col style="width:10%" />
									<col style="width:40%" />
									<col style="width:10%" />
									<col style="width:10%" />
									<col style="width:10%" />
									<col style="width:10%" />
								</colgroup>
								<tr>
									<th rowspan="2"><input type="checkbox" /></th>
									<th rowspan="2">{{_('model_eda_serialno')}}</th>
									<th rowspan="2">{{_('model_eda_division')}}</th>
									<th rowspan="2">{{_('model_eda_title')}}</th>
									<th rowspan="2">{{_('model_eda_registdate')}}</th>
									<th colspan="3">{{_('model_eda_info')}}</th>
								</tr>
								<tr>
									<th>{{_('model_eda_ename')}}</th>
									<th>{{_('model_eda_empno')}}</th>
									<th>{{_('model_eda_dept')}}</th>
								</tr>
								<tr>
									<td><input type="checkbox" disabled /></td>
									<td>1</td>
									<td>심선측정정보</td>
									<td class="left">최초 데이터 정제 규칙 정의(ver 1.0)</td>
									<td>2019. 10. 01</td>
									<td>홍길동</td>
									<td>20191001</td>
									<td>기술정보부서</td>
								</tr>
							</table>
						</div>						
					</div>
				</div>

				<div class="section">
					<div class="etcTitle">
						{{_('model_eda_searchcount')}} (<span>10</span>/<span>80</span>)
					</div>
					
					<div class="title_btn_right">
						<span class="btn_regist"><a href="#">{{_('model_eda_regist')}}</a></span>
						<span class="btn_delete"><a href="#">{{_('model_eda_delete')}}</a></span>
						<span class="btn_detail"><a href="#">{{_('model_eda_detail')}}</a></span>
						<span class="btn_excel"><a href="#">{{_('model_eda_excel')}}</a></span>
					</div>
					<div class="section">
							<h3>{{_('model_eda_detailed_context_title')}}</h3>

							<div class="table_box">
								<table class="tbl_list">
									<caption>기본정보영역</caption>
									<colgroup>
										<col style="width:10%" />
										<col style="width:85%" />
									</colgroup>
									<thead>
									</thead>
									<tbody>
										<tr>
											<th>{{_('model_eda_sparksql')}}</th>
											<td style="width:85%">
												<textarea name="sparksql" id="note" title="비고" rows="10" cols="120">
SELECT `작업일자` as workdate,`시간1` as time2,`시간2` as time16,
`함체번호` as boxid,`작업담당자` as worker,`온도(℃)` as temperature,`기압(KPa)` as pressure,
`습도` as humidity,`풍향` as windpass,`풍속` as windspeed,`추정로스[dB]` as dB FROM fiberfox
												</textarea>
											</td>
										</tr>
										<tr>
											<th>{{_('model_eda_encodingcols')}}</th>
											<td>
												<textarea name="encodecols" id="note" title="비고"  rows="10" cols="120">
windpass, 
												</textarea>
											</td>
										</tr>
										<tr>
											<th>{{_('model_eda_final_dataframe')}}</th>
											<td>
												<textarea name="dataframe" id="note" title="비고"  rows="10" cols="120">
"workdate", "time2", "time16", "boxid",
"worker","temperature","pressure","humidity",
"windpass","windspeed","dB",
												</textarea>
											</td>
										</tr>										
										<tr>
											<th>{{_('model_eda_filter_expression')}}</th>
											<td>
												<textarea name="encodecols" id="note" title="비고"  rows="10" cols="120">
winspeed >= 6
												</textarea>
											</td>
										</tr>																				  
									</tbody>
									<tfoot>
									</tfoot>
								</table>
							</div>
					<div class="groupContent">
						<div class="gridArea">
							<p>
								그리드 삽입공간
							</p>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<!-- [e] sub content -->

	</div>

	<div id="footer">
		<div class="copy">
			Copyrights ⓒ  2019. All right reserved.
		</div>		
	</div>

</div>

</body>
</html>